<!DOCTYPE html>
<html lang="en">
<head>
  <title>Football</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./../css/build/mystyle.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
</head>
<body>
  
<div class="contain" style="background-color: maroon; padding: 2px 90px;">
  <nav class="navbar navbar-inverse" style="margin: 0px; width: 1260px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="padding: 0px"><img src="./../img/logo-fifa.png" width="200" height="50"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Trang chủ</a></li>
      <li><a href="/team"><span class="glyphicon glyphicon-edit"></span> Nhập thông tin các đội bóng</a></li>
      <li><a href="/group"><span class="glyphicon glyphicon-equalizer"></span> Chia bảng đấu</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-eye-open"></span> Xem kết quả</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
  
</div>
<div style="clear: both;"></div>
<div class="contain-main"> 
  <button class="btn btn-info" onclick="location.href='/group'">Trở về</button>
  <div class="battle">
      <p class="title-2">Trận đấu đầu tiên  </p>      
      <button id='js-team-1' style="margin-left: 0px" data-toggle="modal" data-target="#myModal" onclick="getTeams(1)">Đội thứ nhất</button>
      <p>vs</p>      
      <button id='js-team-2' style="margin-left: 0px" data-toggle="modal" data-target="#myModal" onclick="getTeams(2)">Đội thứ hai</button>
      <input type="button"  value="Save" class="float-right btn btn-warning" onclick="saveBattle(1, '<%= @id_group %>', '<%= @notification if @notification != nil %>', 1, 2)">
      <div style="clear: both;"></div>
      <p style="margin-right: 140px;">Tỉ số</p> 
      <input id='js-scord-1' type="number" min="0" value="0" name="">
      <p> - </p>  
      <input id='js-scord-2' type="number" min="0" value="0" name="">
      <!-- <input type="button" value="Save" class="float-right btn btn-warning" data-toggle="modal" data-target="#myModal"> -->
      <div style="clear: both;"></div>
      <p class="top">Kết quả: <span id='js-resulf-1' class="notification"></span> </p>
  </div>
  <div class="battle">
      <p class="title-2">Trận đấu thứ  hai  </p>     
      <button id='js-team-3' style="margin-left: 0px" data-toggle="modal" data-target="#myModal" onclick="getTeams(3)">Đội thứ nhất</button>
      <p>vs</p>      
      <button id='js-team-4' style="margin-left: 0px" data-toggle="modal" data-target="#myModal" onclick="getTeams(4)">Đội thứ hai</button>
      <input type="button"  value="Save" class="float-right btn btn-warning" onclick="saveBattle(2, '<%= @id_group %>', '<%= @notification if @notification != nil %>', 3, 4)">
      <div style="clear: both;"></div>
      <p style="margin-right: 140px;">Tỉ số</p> 
      <input id='js-scord-3' type="number" name="" min="0" value="0">
      <p> - </p>  
      <input id='js-scord-4' type="number" name="" min="0" value="0">
      <!-- <input type="button" value="Save" class="float-right btn btn-warning" data-toggle="modal" data-target="#myModal"> -->
      <div style="clear: both;"></div>
      <p class="top">Kết quả: <span id='js-resulf-2' class="notification"></span></p>
  </div>  
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Chọn đội bóng</h4>
        </div>
        <div class="modal-body">
           <div id="js-get-list-items" class="div-table col-sm-8" style="padding: 0px">
    
            </div>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
      
    </div>
  </div>
  

</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="./../js/battle.js"></script>
</html>
