<!DOCTYPE html>
<html lang="en">
<head>
  <title>Football</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./../css/build/mystyle.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="header" style="background-color: maroon; padding: 2px 90px;">
  <nav class="navbar navbar-inverse" style="margin: 0px">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="padding: 0px"><img src="./../img/logo-fifa.png" width="200" height="50"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Trang chủ</a></li>
      <li><a href="/team"><span class="glyphicon glyphicon-edit"></span> Nhập thông tin các đội bóng</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-equalizer"></span>Chia bảng đấu<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/group">Đấu loại World Cup</a></li>
          <li><a href="/result_table">Đấu loại theo mùa</a></li>
        </ul>
      </li>
      <li><a href="#"><span class="glyphicon glyphicon-eye-open"></span> Xem kết quả</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>  
</div>
<div style="clear: both;"></div>
<div class="contain-main">
  <%= yield %>
</div>
</body>
</html>
