<!DOCTYPE html>
<html lang="en">
<head>
  <title>Teams</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./../css/build/mystyle.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
  
  <script type="text/javascript" src="./../js/myscript.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
<body>

<div class="container">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Thêm mới</button>
  <div style="clear: both;"></div>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thêm đội bóng mới</h4>
        </div>
        <div class="modal-body">
            <form class="/add-teams" action="/add-team" method="POST">
              <input type="text" placeholder="full name" name="name" class="form-control" id="js-name"> <br>
              <input type="text" placeholder="short name" name="name" class="form-control" id="js-short-name">
               <input type="checkbox" id="js-seed">Đội hạt giống<br>
            </form>
           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" onclick="loadList()">Save</button>
        </div>
      </div>
      
    </div>
  </div>
  <div id="js-get-list-items" class="div-table col-sm-8" style="padding: 0px">
    
  </div>
</div>

</body>
</html>
<script type="text/javascript">
  window.onload = loadPage;
</script>