<input type="text" [(ngModel)]="filterValue">

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Team</th>
      <th>Joinded day</th>
      <th>Avatar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees ">
      <td>{{employee.id | search:filterValue}}</td>
      <td>{{employee.name | capitalize | search:filterValue}}</td>
      <td>{{employee.team | search:filterValue}}</td>
      <td>{{employee.date | date | search:filterValue}}</td>
      <td>{{employee.avatar | search:filterValue}}</td>
    </tr>
  </tbody>
</table>