<div class="col-sm-8">
  <div class="row">
  <div class=" col-sm-6">

    <form [formGroup]="memberForm" (ngSubmit)="addMember()" style="margin-left: 50px;margin-top: 20px;" *ngIf="member">

        <label for="firstName">First Name</label>
        <input type="text" style="width: 300px;" class="form-control"
          [(ngModel)]="member.info.first_name"
          [formControl]="firstName" id="firstName" >
        <div style="color:red" [hidden]="!firstName.hasError('minlength')">First name must > 6 character </div>
        <div style="color:red" [hidden]="!firstName.hasError('required')">First name is not null</div>

        <label for="lastName" style="margin-top: 20px;">Last Name</label>
        <input type="text" style="width: 300px;" class="form-control"
          [(ngModel)]="member.info.last_name"
          [formControl]="lastName" id="lastName" >
        <div style="color:red" [hidden]="!lastName.hasError('required')">Last name is not null</div>

    </form>
  </div>
  </div><br>


  <div class="row">
    <table class="table table-bordered table-hover">
      <tr class="success">
        <th>Fisrt name</th>
        <th>Last name</th>
        <th>Birthday</th>
        <th>Email</th>
        <th>Github</th>
      </tr>
      <tbody *ngFor="let member of listMember; let even = even; let odd = odd; let i = index ">
        <tr *ngIf="even" class="warning" (click)="selectMember(i)">
          <th>{{member.info.first_name}}</th>
          <th>{{member.info.last_name}}</th>
          <th>{{member.info.birthday | date}}</th>
          <th>{{member.account.email}}</th>
          <th>{{member.account.github}}</th>
        </tr>
        <tr *ngIf="odd" (click)="selectMember(i)">
          <th>{{member.info.first_name}}</th>
          <th>{{member.info.last_name}}</th>
          <th>{{member.info.birthday | date}}</th>
          <th>{{member.account.email}}</th>
          <th>{{member.account.github}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>





